### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from pprint import pprint

In [2]:
# Raw data file
file_to_load = "Resources/purchase_data.csv"

# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [3]:
print(type(purchase_data.columns))
print(type(purchase_data.index))

<class 'pandas.core.indexes.base.Index'>
<class 'pandas.core.indexes.range.RangeIndex'>

In [4]:
purchase_data.columns.tolist()
purchase_data.index.tolist()

print(type(purchase_data.columns.tolist()))
print(type(purchase_data.columns.tolist()))

<class 'list'>
<class 'list'>

In [5]:
# print shape of dataframe
purchase_data.shape

(780, 7)

### Purchase Data Stats Summary

In [6]:
# print statistics of purchase data
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

* Display the total number of players

In [7]:
number_players = purchase_data["SN"].nunique()
print("Total Number of Players:", number_players)

Total Number of Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.

* Create a summary data frame to hold the results

* Optional: give the displayed data cleaner formatting

* Display the summary data frame

In [8]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [9]:
# number of unique items and average price
num_unique_items = str(purchase_data["Item Name"].nunique())
average_price = round(purchase_data["Price"].mean(),2)

#create dictionary to store values
data_dict = {"Total Unique Items": num_unique_items, " Average Price": average_price}

#create dataframe
df = pd.DataFrame(data_dict, index = ["Value"])
df.T

                   Value
Total Unique Items   179
 Average Price      3.05

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [10]:
#count of Male Players
male = purchase_data.loc[purchase_data["Gender"] == "Male",["SN","Gender"]]
male_unique = male["SN"].nunique()

#count of Female Players
female = purchase_data.loc[purchase_data["Gender"] == "Female",["SN", "Gender"]]
female_unique = female["SN"].nunique()

#count of other players
other = purchase_data.loc[purchase_data["Gender"] == "Other / Non-Disclosed", ["SN","Gender"]]
other_unique = other["SN"].nunique()

In [11]:
#Percentages of each gender
male_percentage = round(male_unique/number_players, 4) * 100
female_percentage = round(female_unique/number_players, 4) * 100
other_percentage = round(other_unique/number_players, 4) * 100

In [12]:
#store unique count of genders into dictionary
gen_count_dict = {"Male": male_unique, "Female": female_unique, "Other/Non-Disclosed": other_unique}

#create datframe 
gen_count_df = pd.DataFrame(gen_count_dict, index = ["Unique Count"])
gen_count_df

              Male  Female  Other/Non-Disclosed
Unique Count   484      81                   11

In [13]:
#store percentages of genders into dictionary
percentage_dict = {"Male": male_percentage, "Female": female_percentage, "Other/Non-Disclosed": other_percentage}

#create datframe 
percent_df = pd.DataFrame(percentage_dict, index = ["Percentage"])
percent_df

             Male  Female  Other/Non-Disclosed
Percentage  84.03   14.06                 1.91

### Summary of Gender Demographics

In [14]:
#gender count and percentages summarized in dataframe
percent_df.append(gen_count_df).T

                     Percentage  Unique Count
Male                      84.03         484.0
Female                    14.06          81.0
Other/Non-Disclosed        1.91          11.0


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [15]:
#group by gender
gen_group = purchase_data.groupby("Gender")

In [16]:
#purchase count by gender
gen_group_count = gen_group.count()

#avg. purchase price by gender
gen_group_avg = gen_group.mean()

#avg. purchase total by gender
gen_group_sum = gen_group.sum()

In [17]:
#Summarize Purchases by Gender
gen_group_dict = {"Purchase Count": gen_group_count["Purchase ID"],
                  "Avg Purchase Price": gen_group_avg["Price"], 
                  "Total Purchase Price": gen_group_sum["Price"]
                 }

### Summary of Purchases by Gender

In [18]:
# Create Dataframe
gen_group_dict_df = pd.DataFrame(gen_group_dict)

In [19]:
# reformat to display currency units
gen_group_dict_df["Avg Purchase Price"] = gen_group_dict_df["Avg Purchase Price"].map("${:.2f}".format)
gen_group_dict_df["Total Purchase Price"] = gen_group_dict_df["Total Purchase Price"].map("${:.2f}".format)

gen_group_dict_df

                       Purchase Count Avg Purchase Price Total Purchase Price
Gender
Female                            113              $3.20              $361.94
Male                              652              $3.02             $1967.64
Other / Non-Disclosed              15              $3.35               $50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [20]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [21]:
df = purchase_data
df["Age Groups"] = pd.cut(purchase_data["Age"], bins= age_bins, labels= group_names)

#group by Age Groups
age_group = df.groupby("Age Groups")

#Count players within age group 
age_group_unique = age_group["SN"].nunique()

# calculate Percentage of age groups
age_group_percentage = age_group_unique/576

In [22]:
# rename SN column to "Count"
age_grp_cnt = pd.DataFrame(age_group_unique).rename(columns={"SN": "Count"})

In [23]:
# rename SN column to "Percentage"

age_df = pd.DataFrame(age_group_percentage).rename(columns={"SN":"Percentage"})
age_df

            Percentage
Age Groups
<10           0.029514
10-14         0.038194
15-19         0.185764
20-24         0.447917
25-29         0.133681
30-34         0.090278
35-39         0.053819
40+           0.020833

In [24]:
# convert to percentage
age_df=round(age_df,4)*100

#reformat to show percentage symbol
age_df["Percentage"] = age_df["Percentage"].map("{:.2f}%".format)

age_df

           Percentage
Age Groups
<10             2.95%
10-14           3.82%
15-19          18.58%
20-24          44.79%
25-29          13.37%
30-34           9.03%
35-39           5.38%
40+             2.08%

### Summarize Age Demographic Results

In [25]:
# join percentage column with Count column
age_pcnt_df= age_df.join(age_grp_cnt)
age_pcnt_df

           Percentage  Count
Age Groups
<10             2.95%     17
10-14           3.82%     22
15-19          18.58%    107
20-24          44.79%    258
25-29          13.37%     77
30-34           9.03%     52
35-39           5.38%     31
40+             2.08%     12

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
# Calculate purchase count, avg. price, and total cost
age_purchase_count = age_group["Price"].count()
age_average_price = age_group["Price"].mean()
age_purchase_total = age_group["Price"].sum()

In [27]:
#reformat to display currency unit
age_average_price = age_average_price.map("${:.2f}".format)
age_purchase_total = age_purchase_total.map("${:.2f}".format)

### Summarize Purchase Analysis by Age Groups

In [28]:
#Create Dataframe to show Purchase count, Average purchase price, and total purchase
age_purchase_df = pd.DataFrame({
    "Purchase Count": age_purchase_count,
    "Avg. Purchase Price": age_average_price,
    "Total Purchase": age_purchase_total
})

age_purchase_df

            Purchase Count Avg. Purchase Price Total Purchase
Age Groups
<10                     23               $3.35         $77.13
10-14                   28               $2.96         $82.78
15-19                  136               $3.04        $412.89
20-24                  365               $3.05       $1114.06
25-29                  101               $2.90        $293.00
30-34                   73               $2.93        $214.00
35-39                   41               $3.60        $147.67
40+                     13               $2.94         $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [29]:
# Group data by Player
groupby_player = purchase_data.groupby("SN")

# Perform Basic calculations

# groupby_player["Purchase ID"].count()
# groupby_player["Price"].mean()
# groupby_player["Price"].sum()


#obtain purchase count, average price, and total price
groupby_player_count = groupby_player["Purchase ID"].count()
player_avg_price = groupby_player["Price"].mean()
player_total_purchase = groupby_player["Price"].sum()

### Summarize the Top Spenders

In [30]:
# create Dataframe to hold results
spenders_df = pd.DataFrame({"Purchase Count": groupby_player_count,
              "Average Purchase Price": player_avg_price,
              "Total Purchase Value": player_total_purchase
             })

# Sort Dataframe in Descending Order
spenders_df.sort_values(by='Total Purchase Value', ascending=False, inplace=True)

# reformat to display currency units
spenders_df["Average Purchase Price"] = spenders_df["Average Purchase Price"].map("${:.2f}".format)
spenders_df["Total Purchase Value"] = spenders_df["Total Purchase Value"].map("${:.2f}".format)


#return top 5 results
spenders_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:
#select data needed to perform calculations
item_data = purchase_data[["Item ID","Item Name","Price"]]

#group by Item Id and Item Name
item_group = item_data.groupby(["Item ID","Item Name"])

# item_group.count()
# item_group.mean()
# item_group.sum()

In [32]:
#perform basic calculations
item_group_count = item_group.count()
item_group_mean = item_group.mean()
item_group_sum = item_group.sum()

### Summarize the Most Popular Items

In [33]:
#Create data frame to hold results
popular_items_df = pd.DataFrame({"Purchase Count": item_group_count["Price"],
                               "Item Price": item_group_mean["Price"],
                               "Total Purchase Value": item_group_sum["Price"]
                               })


# Sort df in Descending order
popular_items_df = popular_items_df.sort_values(by="Purchase Count", ascending=False)


#reformat to display currency units
popular_items_df["Item Price"] = popular_items_df["Item Price"].map("${:.2f}".format)
popular_items_df["Total Purchase Value"] = popular_items_df["Total Purchase Value"].map("${:.2f}".format)



popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [34]:
popular_items_df.sort_values(by="Total Purchase Value", ascending=False).head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
63,Stormfury Mace,2,$4.99,$9.98
29,"Chaos, Ender of the End",5,$1.98,$9.90
173,Stormfury Longsword,2,$4.93,$9.86
1,Crucifer,3,$3.26,$9.78
38,"The Void, Vengeance of Dark Magic",4,$2.37,$9.48